---
import Coin from '../components/Coin.astro';
import coinData from '../data/coins.json';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>Thiru's Coin Collection</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/src/styles/global.css" />
		<link rel="stylesheet" href="/src/styles/coin.css" />
		<link rel="stylesheet" href="/src/styles/custom.css" />
		<link rel="stylesheet" href="https://use.typekit.net/iif5gol.css">
		
	</head>
	<body>
		<div class="museum-container" id="museum-main">
			<header class="gallery-header" id="gallery-header">
				<h1 class="gallery-title" id="main-title">Thiru's Mint</h1>
				<p class="gallery-subtitle" id="main-subtitle">There are {coinData.length} coins in this collection</p>
			</header>
			
			<main class="gallery" id="coin-gallery">
				{coinData.map((coin) => (
					<Coin
						id={coin.id}
						headImage={coin.headImage}
						tailImage={coin.tailImage}
						name={coin.name}
						year={coin.year}
					/>
				))}
			</main>
			
			<footer class="gallery-footer" id="gallery-footer">
				
			</footer>
		</div>
	</body>
</html>
